/* EXERCISE 1 */
.ex-1-square{
    transition: background-color 2s linear;
}

.ex-1-square:hover{
    background-color: red;
}

/* EXERCISE 2 */
.ex-2-square{
    transition: width 3s;
}

.ex-2-square:active{
    width: 100%;
}

/* EXERCISE 3 */
.ex-3-square{
    transition: border-radius 1s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* EXERCISE 4 */
.ex-4-square{
    transition: opacity 1s linear;
}

.ex-4-square:hover{
    opacity: 0;
}

/* EXERCISE 5 */
.ex-5-square {
    transition: 2s;
}

.ex-5-square:hover {
    transform: scale(2, 2);
}

.ex-5-square:active {
    transform: scale(0.5, 0.5);
}

/* EXERCISE 6 */
.ex-6-img{
    transition: 0s;
}

.ex-6-img:hover {
    filter: grayscale(100%);
}

/* EXERCISE 7 */
.ex-7-img{
    transition: 3s;
}

.ex-7-img:hover {
    filter: grayscale(100%) sepia(50%);
}

/* EXERCISE 8 */
.ex-8-img{
    transition: 3s;
}

.ex-8-img:hover {
    filter: grayscale(50%) sepia(50%);
    border-radius: 25px;
}

/* EXERCISE 9 */
.ex-9-img {
    transition: 2s;
}

.ex-9-img:hover {
    transform: scale(1.5, 1.5);
    filter: grayscale(50%) sepia(50%);
    border-radius: 25px;
}

/* EXERCISE 10 */
.ex-10-icon {
    animation: spin-animation 1s linear infinite;
    display: inline-block;
}

@keyframes spin-animation {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* EXERCISE 11 */
.ex-11-icon:hover{
    animation: rotate 2s linear;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    90%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* EXERCISE 12 */
.ex-12-button:hover .ex-12-top-white {
    animation: right_to_left 3s alternate linear;
  }

  @keyframes right_to_left {
    0% {left: 10%;}
    50% {left: 70%;}
    100% {left: 10%;}
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: left_to_right 3s alternate linear;
  }

  @keyframes left_to_right {
    0% {right: 20%;}
    50% {right: 70%;}
    100% {right: 20%;}
}

/* EXERCISE 13 */
.ex-13-button:hover .ex-13-top-white {

    animation: clockwise 2s linear;
  }

  @keyframes clockwise {
    0%   {left: 10%; top: -15%;}
    20%  {left: 85%; top: -15%;}
    40%  {left: 85%; top: 85%}
    60%  {left: -10%; top: 85%;}
    80%  {left: -10%; top: -15%;}
    100% {left: 10%; top: -15%;}
  }

  .ex-13-button:hover .ex-13-bottom-white {

    animation: counterclockwise 2s linear; 
  }

  @keyframes counterclockwise {
    0%   {right: 20%; bottom: -15%;}
    20%  {right: 85%; bottom: -15%;}
    40%  {right: 85%; bottom: 85%}
    60%  {right: -20%; bottom: 85%;}
    80%  {right: -20%; bottom: -15%;}
    100% {right: 20%; bottom: -15%;}
  }